<!-- -------------------
Name: Jacob
Coding 06
Purpose: Making the body template for the use on the home page.
------------------- --> 
 
<div class="container-2">
  <div class="card-2">
      <div class="card-image-2">	
          <div class="card-heading-2">
            <h1>Hello Peasant!</h1>
            <p>Become Something More!</p>
              <a href="/php/title.php">
                <button type="submit" class="tm-button" >Title Machine</button>
              </a>
          </div>
      </div>
  </div>
</div> 