<!-- -------------------
Name: Jacob Wallace
Coding 06
Purpose: Making a title generator template.
------------------- -->  
 
    <div class="container">  
        <div class="card">
            <div id="msg">
                <!-- This is a blank area for us to talk to the use -->
                <br>
            </div>          
            <div class="card-image">	
                <h2 class="card-heading">
                 Hello! Tell Us About Yourself
                </h2>
            </div>               
            <form id="titleForm" name="titleForm">
                <div class="input">
                    <input type="text" class="input-field" id="title" name="title"/>
                    <label for="input" class="input-label">Title</label>
                </div>
                <div class="input">
                    <input type="text" class="input-field" id="favDrink" name="favDrink"/>
                    <label for="input" class="input-label">Favorite Drink</label>
                </div>
                <div class="input">
                    <input type="text" class="input-field" id="pet" name="pet"/>
                    <label for="input" class="input-label">Pet's Name</label>
                </div>
                <div class="input">
                    <input type="text" class="input-field" id="favFic" name="favFic"/>
                    <label for="input" class="input-label">Favorite Fictional Place</label>
                </div>
                <div class="input">
                    <input type="text" class="input-field" id="favReal" name="favReal"/>
                    <label for="input" class="input-label">Favorite Real Place</label>
                </div>
                <div class="input">
                    <input type="text" class="input-field" id="email" name="email"/>
                    <label for="input" class="input-label">Email</label>
                </div>
                <div class="action">
                    <button id="submitBtn" type="button" class="action-button">Send</button>
                    <button id="clearBtn" type="button" class="clear-button">Clear</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/title.js"></script>

  